.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/description.html
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/project-template.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
objektas.iml
